# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for Data Science
- List libraries used by Data Scientists
- List some Data Science Tools
- List a few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:<br>
1. Python<br>
2. R<br>
3. SQL<br>
4. Java

Some of the commonly used libraries used by Data Scientists include:<br>
1. Numpy<br>
2. pandas<br>
3. Matplotlib<br>
4. Seaborn<br>
5. scikit-learn<br>
6. TensorFlow<br>
7. SciPy

<table>
  <thead>
    <tr>
      <th>Data Science Tools</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Jupyter Notebook</td>
    </tr>
    <tr>
      <td>RStudio</td>
    </tr>
    <tr>
      <td>Visual Studio Code</td>
    </tr>
  </tbody>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
print(200/60)

3.3333333333333335

## Author
Nguyen Thanh Vinh